<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        if (clientWidth >= 720) {
                            docEl.style.fontSize = '100px';
                        } else {
                            docEl.style.fontSize = 100 * (clientWidth / 720) + 'px';
                        }
                    };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <title>发码行</title>
    <link rel="stylesheet" href="./../static/css/public/public.css">
    <link rel="stylesheet" href="./../static/js/plug-in/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../static/css/public/header.css">
    <link rel="stylesheet" href="./../static/css/index/index.css">
    <link rel="stylesheet" href="./../static/css/public/media.css">
</head>
<body>
    <header class="g-hd">
        <div class="g-hd-tp">
            <img class="m-logo" src=""/>
            <nav class="m-nav">
                <ul class="u-list">
                    <li class="u-li">
                        <a class="u-a" href="javascript:void(0)">首页</a>
                    </li>
                    <li class="u-li">
                        <a class="u-a" href="javascript:void(0)">关于我们</a>
                    </li>
                    <li class="u-li">
                        <a class="u-a" href="javascript:void(0)">发码模式</a>
                    </li>
                    <li class="u-li">
                        <a class="u-a" href="javascript:void(0)">新闻中心</a>
                    </li>
                    <li class="u-li">
                        <a class="u-a" href="javascript:void(0)">产业园</a>
                    </li>
                    <li class="u-li">
                        <a class="u-a" href="javascript:void(0)">FAQ</a>
                    </li>
                    <li class="u-li">
                        <a class="u-a" href="javascript:void(0)">联系我们</a>
                    </li>
                </ul>
            </nav>
            <div class="m-sch">
                <i class="fa fa-search"></i>
                <input class="u-it" type="text">
            </div>
        </div>
    </header>
</body>
</html>