/*加载中动画*/
.u-loading{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    align-items:center;
    justify-content:center;
}
.u-loading > .u-bounce{
    width: 30px;
    height: 30px;
    background-color: #a7a7a7;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.u-loading .u-bounce:nth-of-type(1){
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.u-loading .u-bounce:nth-of-type(2){
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay{
    0%, 80%, 100%{ -webkit-transform: scale(0.0) }
    40%{ -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay{
    0%, 80%, 100%{
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40%{
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.g-hd{
    width: 100%;
    height: 6.9rem;
    background-color: #007aff;
}
.g-hd .g-hd-tp{
    display: flex;
    width: 100%;
    height: 1.15rem;
}
.m-logo{
    width: 1.5rem;
    height: .45rem;
}
.m-nav{
    display: flex;
}
.m-nav .u-list{
    display: flex;
}
.m-nav .u-li{
    flex: 1;
}
.m-nav .u-a{
    display: block;
}

.m-sch{
    position: relative;
    width: .8rem;
    height: .2rem;
    font-size: .12rem;
    color: #fff;
    border: .01rem solid rgba(255, 255, 255, .5);
    border-radius: .05rem;
}
.m-sch .fa-search{
    position: absolute;
    width: .2rem;
    text-align: center;
    line-height: .2rem;
}
.m-sch .u-it{
    padding-left: .2rem;
    width: 100%;
    height: 100%;
    color: #fff;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}


